@model IEnumerable<_8768364RobbieAlazer_MVC.Controllers.CustomerDto>

@{
    ViewData["Title"] = "Customers";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Phone</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Phone</td>
                <td>@item.Email</td>
                <td>
                    <form asp-action="Delete" method="post" style="display:inline;">
                        <input type="hidden" name="id" value="@item.Id" />
                        <button type="submit" class="btn btn-link p-0">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>